.flex-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
.mapflexbox {
      width: 850px;
      padding-right: 100px;
      text-align: left;
      height: 1200px;
    }
  
    .factsflexbox {
      width: 150px;
      margin-right: 10px;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      height: 100px;
    }
